<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <title>Guestbook</title>
    <style> 
            b+p {
  width: 50%; /* Ширина блока */
  margin: 10px; /* Поля  вокруг элемента */
  background: Bisque;
  text-align: left;
} 
            b {color:navy;
             text-align:left;}
            body { background:NavajoWhite ;}</style>
</head>
<body> 

    <div align="center">
    
    {%if messages %}
    
    {% for m in messages %}
        <b>№{{m.number}}. {{m.date|date:"h:i:s F j, Y" }}. {{m.name}} said:</b><p>{{m.message}}</p>
        
    {% endfor %}
    
    {% endif%}
    
    <form action="" method="post">{%csrf_token%}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>
